[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.8"
pillow = "*"
django-registration-redux = "==2.0"

[dev-packages]
pylint = "*"
"pep8" = "*"
"autopep8" = "*"

[requires]
python_version = "3.7"
