body {
    background-color: rgb(23, 32, 42);
}

/* Classes */
.top-bar {
    font-family: 'Federant', cursive;
    font-size: 50px;
    color: rgb(231, 76, 60);
    border: black solid 2px;
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
    background-color: rgb(153, 163, 164);
    text-align: center;
    width: 100%;
    margin: 5px;
}

.item-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    margin: 10px;
}

.item {
    font-family: 'Niramit', sans-serif;
    font-size: 30px;
    background-color: rgb(170, 183, 184);
    border-radius: 20% 0%;
    text-align: center;
    height: 200px;
    width: auto;
}
 /* Ids */
#hello {
    /* z-index: 99; */
}