{% load staticfiles %}
<!doctype html>
<html>

<head>
    <title>
        {% block title %}
            My Hello Web App Project
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Federant|Niramit" rel="stylesheet">
    {% block header %}{% endblock header %}
</head>
    
<body>
    <header>
            <div id="hello" class="top-bar">Hello Web App</div>
            <div id="home" class="top-bar"><a href="{% url 'home' %}">Home</a></div>
            <div id="about" class="top-bar"><a href="{% url 'about' %}">About</a></div>
            <div id="contact" class="top-bar"><a href="{% url 'contact' %}">Contact</a></div>
    </header>
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
</body>

</html>