{% load staticfiles %}
<!doctype html>
<html>

<head>
    <title>
        {% block title %}
            Things
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Federant|Niramit" rel="stylesheet">
    {% block header %}{% endblock header %}
</head>
    
<body>
    <header>
        <div class="top-bar">
            <div id="home">
                <a href="{% url 'home' %}">Things</a>
            </div>
            <div id="about">
                <a href="{% url 'about' %}">About</a>
            </div>
            <div id="contact">
                <a href="{% url 'contact' %}">Contact</a>
            </div>
            {% if user.is_authenticated %}
            <div>
                <a href="{% url 'auth_logout' %}">Logout</a>
            </div>
            {% else %}
            <div>
                <a href="{% url 'auth_login' %}">Login</a>
            </div>
            <div>
                <a href="{% url 'registration_register' %}">Register</a>
            </div>
            {% endif %}
        </div>
    </header>
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
</body>

</html>