{% extends "base.html" %}
{% load humanize %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    <h2>Hello world!</h2>
    {% comment %} <p>{{ number }}</p> {% endcomment %}
    {% comment %} <p>{% if number %}Number exists!{% endif %}</p> {% endcomment %}
    <p class="item">There are {{ number|apnumber }} dog{{ number|pluralize:"es" }}!</p>
    <p class="item">There are {{ number }} walrus{{ number|pluralize:"es" }}!</p>
    {% for thing in things %}
        <h2>{{thing.name}}</h2>
        <p>{{thing.description}}</p>
    {% endfor %}
{% endblock content %}
    
