{% extends "base.html" %}
{% load humanize %}
{% block title %}
    Homepage - {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="item-wrapper">
        <div class="item">Hello world!</div>
        {% comment %} 
            <div class="item">{{ number }}</div> 
        {% endcomment %}
        {% comment %} 
            <div class="item">{% if number %}Number exists!{% endif %}</div> 
        {% endcomment %}
        <div class="item">There are {{ number|apnumber }} dog{{ number|pluralize:"es" }}!</div>
        <div class="item">There are {{ number }} walrus{{ number|pluralize:"es" }}!</div>
        {% for thing in things %}
            <div class="item">
                <div>{{thing.name}}</div>
                <img src="images/thing_images/default" alt="thing-image">
                <div>{{thing.description}}</div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
    
